<!--
  Copyright 2019 Malte Engelhardt.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!-- Ninox Action Node -->
<script type="text/x-red" data-template-name="ninox action">
  <div class="form-row">
      <label for="node-input-method"><i class="fa fa-dot-circle-o"></i> <span data-i18n="ninox.method-label"></span></label>
      <select id="node-input-method">
        <option value="all" data-i18n="ninox.method-all"></option>
        <option value="one" data-i18n="ninox.method-one"></option>
        <option value="find" data-i18n="ninox.method-find"></option>
        <option value="save" data-i18n="ninox.method-save"></option>
        <option value="delete" data-i18n="ninox.method-delete"></option>
        <option value="allfiles" data-i18n="ninox.method-allfiles"></option>
        <option value="onefile" data-i18n="ninox.method-onefile"></option>
        <option value="uploadfile" data-i18n="ninox.method-uploadfile"></option>
        <option value="deletefile" data-i18n="ninox.method-deletefile"></option>
      </select>
  </div>
  <div class="form-row">
      <label for="node-input-config"><i class="fa fa-bookmark"></i> <span data-i18n="ninox.apipath-label"></span></span></label>
      <input type="text" id="node-input-config">
  </div>
  <div class="form-row">
      <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="ninox.name-label"></span></label>
      <input type="text" id="node-input-name">
  </div>
  <div class="form-row">
    <label for="node-input-database"><i class="fa fa-dot-circle-o"></i> <span data-i18n="ninox.database-label"></span></label>
    <select id="node-input-database">
        <option value="none"><span data-i18n="ninox.option-none"></span></option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-table"><i class="fa fa-dot-circle-o"></i> <span data-i18n="ninox.table-label"></span></label>
    <select id="node-input-table">
        <option value="none"><span data-i18n="ninox.option-none"></span></option>
    </select>
  </div>
  <div class="form-row">
      <label for="nx-map"><i class="fa fa-tag"></i> <span data-i18n="ninox.fieldmap-label"></span></label>
      <ol id="nx-map"></ol>
  </div>
  <div class="form-row">
    <label for="nx-output"><i class="fa fa-bookmark"></i> <span data-i18n="ninox.output-label"></span></label>
    <textarea id="nx-output" rows="10" cols="80"></textarea>
  </div>
</script>

<script type="text/x-red" data-help-name="ninox action">
  <p>Ninox API interface.</p>
  <p>Select a method and team configuration to interface with the Ninox API. The team configuration is configured with your API key and other info.</p>
  <p>After the team has been configured, choose the Database and Table to run the query against.</p>
  <p>Depending on the method chosen, different inputs may be set on the <code>msg</code> object for interaction with the Ninox API.
    <ol>
      <li>
        <h3>Get records</h3>
        <p>
          NEW in v0.99.8 <br>
          Inputs: <code>page</code> (0-indexed) and <code>perpage</code>. If any of these is given in the <code>msg</code> object, it will be passed to the nx api request.<br>
          <code>combinedreturn</code> if true, only one message containing all the records is sent to the next node.<br>
          <code>maxpages</code> if > 0 then the records of this many pages from the nx api will be returned at max.
        </p>
        <p>
          Outputs: Each <code>msg</code> contains one record of the result set in the <code>msg.payload</code> in JSON format. Once all records are sent, sends a final message where <code>msg.complete == true</code>. Except for if msg.combinedreturn is true. See above. 
        </p>
      </li>
      <li>
        <h3>Get one record</h3>
        <p>
          Inputs: <code>msg.payload</code> is the id of the record to look up.
        </p>
        <p>
          Outputs: <code>msg.payload</code> contains the record as JSON.
        </p>
      </li>
      <li>
        <h3>Find one record</h3>
        <p>
          Inputs: there are 2 ways to specify a search filter: <br>
          1. <code>msg.payload</code> is an object with the field values to look for, e.g.:
          <code>
            {
              "my fieldname": "somevalue"
            }
          </code>
          2. In the Field map one may specify string literals in single apostrophes (e.g.: 'somevalue') or number literals as well as variable names on the <code>msg</code> object (e.g.: msg.myfieldvalue).
          Field values specified the first way override the second.
        </p>
        <p>
          Outputs: <code>msg.payload</code> contains the record as JSON.
        </p>
      </li>
      <li>
        <h3>Create or update records</h3>
        <p>
          Inputs: <code>msg.payload</code> MUST contain an array of ninox records, e.g.:
          <code>
            msg.payload = [
              {
                "id": 42,
                "fields": {
                  "my fieldname": "somevalue"
                }
              },
              {
                "fields": {
                  "my other fieldname": "some other value"
                }
              }
            ];
          </code>
          If an object does not have the "id" field supplied, a new record will be created, 
          otherwise it will be updated.
          The Ninox REST API only allows us to use the field id when creating or updating records. 
          Here, in contrast, one may use the actual field names of the table. 
          They will be replaced by the field ids automatically. 
          In the Field map one may specify string literals in single apostrophes (e.g.: 'somevalue') 
          or number literals as well as variable names on the <code>msg</code> object 
          (e.g.: msg.myfieldvalue). These values will be set on every object in the 
          <code>msg.payload</code> array if and only if the object itself does not contain this field.
          If one had set the Field map value for "my fieldname" to 'foo' the <code>msg.payload</code>
          posted to Ninox would like this
          <code>
            [
              {
                "id": 42,
                "fields": {
                  "my fieldname": "somevalue"
                }
              },
              {
                "fields": {
                  "my fieldname": "foo",
                  "my other fieldname": "some other value"
                }
              }
            ]
          </code>
        </p>
        <p>
          Outputs: <code>msg.payload</code> contains the records as JSON.
        </p>
      </li>
      <li>
        <h3>Delete one record</h3>
        <p>
          Inputs: <code>msg.payload</code> is the id of the record to delete.
        </p>
        <p>
          Outputs: None.
        </p>
      </li>
      <li>
        <h3>Get files info for one record</h3>
        <p>
          Inputs: <code>msg.payload</code> is the id of the record from which to get the files info.
        </p>
        <p>
          Outputs: <code>msg.payload</code> contains the files info as JSON.
        </p>
      </li>
      <li>
        <h3>Download a file</h3>
        <p>
          Inputs: <code>msg.nid</code> is the id of the record from which to download the file.
          <code>msg.filename</code> is the name of the file which to download.
        </p>
        <p>
          Outputs: <code>msg.pathname</code> is the local path to the downloaded file.
        </p>
      </li>
      <li>
        <h3>Upload a file</h3>
        <p>
          Inputs: <code>msg.nid</code> is the id of the record to which to upload the file.
          <code>msg.filename</code> is the local path of the file which to upload.
          Additionally one may set <code>msg.payload</code> to be an instance of 
          <code>stream.Streamable</code> (as returned by fs.createReadStream()).
        </p>
        <p>
          Outputs: <code>msg.payload</code> contains any response body from the Ninox server.
        </p>
      </li>
      <li>
        <h3>Delete a file</h3>
        <p>
          Inputs: <code>msg.nid</code> is the id of the record from which to delete the file.
          <code>msg.filename</code> is the name of the file which to delete.
        </p>
        <p>
          Outputs: <code>msg.payload</code> contains any response body from the Ninox server.
        </p>
      </li>
    </ol>
</script>

<script type="text/javascript">
(function() {
  window.addEventListener('unhandledrejection', event => {
    // Prevent error output on the console:
    event.preventDefault();
    console.log('unhandledrejection: ' + event.reason);
  });
  window.addEventListener('unhandledrejection', event => {
    // Prevent error output on the console:
    event.preventDefault();
    console.log('unhandledrejection: ' + event.reason);
  });

  var nxlib = {
    NX_PUBLIC_CLOUD_API_HOSTNAME: "api.ninoxdb.de",
    NX_PUBLIC_CLOUD_API_PORT: "443",
    InvalidConfigurationError: function(msg) {
      this.msg = msg;
    },
    getUrl: function(node, doGetTeams = false) {
        let port = (node.port && node.port !== "443" ? ":" + node.port : "");
        let bits = [
            "https://" + node.host + port
        ];
        let publicprivate = node.publicprivate;
        if (publicprivate) {  // public cloud host
            bits.push(node.apiversion);
            bits.push("teams");
            if (!doGetTeams) {  // we want anything after "teams"
              bits.push(node.team);
              bits.push("databases");
            }
        }
        else {  // private cloud or on-premise host, http://host:port/teamid/api/v1/databases
            if (doGetTeams) {
              throw new Error("ProgrammingError: Private cloud does not allow to query teams.");
            }
            bits.push(node.team);
            bits.push("api");
            bits.push(node.apiversion);
            bits.push("databases");
        }
        if (bits.indexOf("none") > -1) {
          bits.splice(bits.indexOf("none"));
        }
        return bits.filter(v => !!v).join("/");
    },
    getHeaders: function(node) {
      return {
          "Authorization": "Bearer " + node.apikey,
          "Content-Type": "application/json"
      };
    }
  };

  function fmtOpt(val, text, selected){
    return '<option value="' + val + '"' + (selected ? ' selected="selected"' : '') + '>' + text + '</option>';
  }
  function sortByName(lhs, rhs) {
    if (lhs.name < rhs.name ) {
      return -1;
    }
    if (lhs.name > rhs.name) {
      return 1;
    }
    return 0;
  }

  RED.nodes.registerType("ninox action", {
    category: "function",
    color: "rgb(66, 160, 250)",
    inputs: 1,
    outputs: 1,
    icon: "ninox-logo.png",
    defaults: {
      name: { 
        value: ""
      },
      method: { 
        value: "all"
      },
      config: {
        value: "",
        type: "ninox-config"
      },
      database: {
        value: "none"
      },
      databasename: {
        value: ""
      },
      table: {
        value: "none"
      },
      tablename: {
        value: ""
      },
      types: {
        value: [],
        required: false
      },
      map: {
        value: [],
        required: false
      }
    },
    label: function() {
      let cfgNode = RED.nodes.node(this.config);
      if (cfgNode) {
        let lbl = cfgNode.label();
        let nxpath = [
          lbl.substr(lbl.indexOf(">") + 2), 
          this.databasename, 
          this.tablename
        ].filter(v => !!v && v !== "none")
        .join(" / ");
        return this.name || (cfgNode ? this.method + " " + nxpath : "ninox action");
      }
      return this.name || "ninox action" + this.method;
    },
    oneditsave: function() {
      let node = this;
      $("#node-input-database").off("change.nx");
      $("#node-input-table").off("change.nx");
      $("#node-input-config").off("change.nx");
      node.map = [];
      $("#nx-map li.nx-map-item").each(function(i, el) {
        let val = $(el).find("input").val();
        if (val.startsWith('"') && val.endsWith('"')) {
          val = "'" + val.substr(1, val.length - 2) + "'";
        }
        node.map.push({ 
          key: $(el).find("select").val(), 
          name: $(el).find("select :selected").text(),
          value: val
        });
      });
    },
    oneditcancel: function() {
      $("#node-input-database").off("change.nx");
      $("#node-input-table").off("change.nx");
      $("#node-input-config").off("change.nx");
    },
    oneditdelete: function() {
      $("#node-input-database").off("change.nx");
      $("#node-input-table").off("change.nx");
      $("#node-input-config").off("change.nx");
    },
    oneditprepare: function() {
      let node = this;
      let cfgNode = RED.nodes.node(node.config);

      RED.events.on("nxConfigChange", function(eventdata) {
        let selected = $(eventdata).find(":selected").val();
        if (selected === "_ADD_") {
          cfgNode = null;
        } else {
          cfgNode = RED.nodes.node(selected);
          node.config = selected;
        }
        node.map = [];
        node.types = [];
        
        handleInit($("#node-input-database"), "none")
          .catch(function(err) {
            throw err;
          }).then(function() {
            return handleDatabase($("#node-input-table"), "none");
          }).catch(console.log)
          .finally(function() {
            $("#nx-map").editableList("empty");
          });
      });

      let handleInit = function(el, database) {
        return new Promise(function(resolve, reject) {
          if (cfgNode && cfgNode.apiKey !== "" && cfgNode.team !== "none") {
            let url = nxlib.getUrl(cfgNode);
            let headers = nxlib.getHeaders(cfgNode);
            let dbWasDisabled = $("#node-input-database").prop("disabled");
            let tblWasDisabled = $("#node-input-table").prop("disabled");
            if (!dbWasDisabled) {
              $("#node-input-database").prop("disabled", true);
            }
            if (!tblWasDisabled) {
              $("#node-input-table").prop("disabled", true);
            }
            try {
              $.ajax({
                url: url,
                headers: headers
              }).done(function(databases) {
                let opts = [fmtOpt('none', 'None', database === 'none')];
                databases.sort(sortByName);
                databases.forEach(function(db) {
                  opts.push(fmtOpt(db.id, db.name, db.id === database));
                });
                el.html(opts.join(""));
                resolve();
              }).fail(function(err) {
                reject("ninox handleInit 4: " + JSON.stringify(err));
              }).always(function() {
                if (!dbWasDisabled) {
                  $("#node-input-database").prop("disabled", false);
                }
                if (!tblWasDisabled) {
                  $("#node-input-table").prop("disabled", false);
                }
              });
            }
            catch(e) {
              reject("error caught", e);
            }
          }
          else {
            let opt = fmtOpt('none', 'None', true);
            node.database = "none";
            node.databasename = "";
            $("#node-input-database").html(opt);
            node.table = "none";
            node.tablename = "";
            $("#node-input-table").html(opt);
            $("#node-input-table").html(opt);
            $("#nx-output").html("");
            reject(new nxlib.InvalidConfigurationError());
          }
        });
      }

      function handleDatabase(el, database) {
        return new Promise(function(resolve, reject) {
          node.database = database;
          if (cfgNode) {
            if (database === "none") {
              resolve();
            }
            let url = nxlib.getUrl(cfgNode) + `/${database}/tables`;
            let headers = nxlib.getHeaders(cfgNode);
            $("#node-input-table").prop("disabled", true);
            $.ajax({
              url: url,
              headers: headers
            }).done(function(tables) {
              let opts = [fmtOpt('none', 'None', node.table === 'none')];
              tables.sort(sortByName);
              tables.forEach(function(tbl) {
                opts.push(fmtOpt(tbl.id, tbl.name, tbl.id === node.table));
              });
              el.html(opts.join(""));
              resolve();
            }).fail(function(err) {
              reject("ninox handleDatabase: " + JSON.stringify(err));
            }).always(function() {
              $("#node-input-table").prop("disabled", false);
            });
          }
          else {
            reject("ninox handleDatabase: no configuration found");
          }
        });
      }

      function databaseOnChange() {
        let el = $("#node-input-table");
        let db = this.value;

        if (db === 'none') {
          el.html(fmtOpt('none', 'None', true));
          node.tablename = "none";
          node.databasename = "none";
          return;
        }

        handleDatabase(el, db)
          .then(handleUrlChange)
          .catch(console.log)
          .finally(() => {
            node.databasename = $("#node-input-database").find(":selected").text();
            node.tablename = el.find(":selected").text();
          });
      }

      function tableOnChange(){
        node.table = $(this).val();
        node.tablename = $(this).find(":selected").text();
        node.map = [];
        $("#nx-map").editableList("empty");
        handleUrlChange()
        .catch(function(err) { 
          console.log("tableOnChange->handleUrlChange error:", err); 
        })
        .then(setupEditableItems)
        .then(addEditableItems)
        .catch(console.log);
      }

      function handleUrlChange() {
        console.log("handleUrlChange");
        return new Promise(function(resolve, reject) {
          if (cfgNode) {
            let url = nxlib.getUrl(cfgNode) + `/${node.database}/tables/${node.table}`;
            let headers = nxlib.getHeaders(cfgNode);
            $.ajax({
              url: url,
              headers: headers
            }).done(function(tabledef) {
              node.types = tabledef.fields;
              $("#nx-output").text(JSON.stringify(tabledef));
              resolve();
            }).fail(function(err) {
              $("#nx-output").text(JSON.stringify(err));
              reject("ninox error in handleUrlChange: " + JSON.stringify(err));
            });
          }
          else {
            reject("ninox error in handleUrlChange: no configuration found");
          }
        });
      }

      function configOnChange(el) {
        RED.events.emit("nxConfigChange", $(this));
      }

      function setupEditableItems() {
        console.log("setupEditableItems");
        let types = node.types;
        $("#nx-map").editableList({
          addButton: "Add",
          addItem: function(row, index, data) {
            let opts = types.map(function(v, i, a) { return fmtOpt(v.id, v.name, data.key === v.id); }).join("");
            let s = `<li class="nx-map-item"><select style="display: inline-grid; width: 40%" id="nx-map-${index}-key">${opts}</select><input style="display: inline-grid; width: 58%" id="nx-map-${index}-value" type="text" value="${data.value || ''}"></li>`;
            $(row).html(s)
          },
          sort: function(lhs, rhs) {
            let n1 = lhs.key;
            let n2 = rhs.name;
            if (n1 && n2) {
              if (n1 < n2) {
                return -1;
              }
              if (n1 > n2) {
                return 1;
              }
            }
            return 0;
          },
          removable: true,
          removeItem: function(data) {
            console.log("an item has been removed:", data);
          }
        });
      }

      function addEditableItems() {
        if (node.map && node.map.length > 0) {
          $("#nx-map").editableList("addItems", node.map);
        };
      }

      handleInit($("#node-input-database"), node.database).then(function() {
        return handleDatabase($("#node-input-table"), node.database);
      }).then(handleUrlChange)
        .catch(function(err) { 
          console.log("handleUrlChange error:", err); 
        })
        .then(setupEditableItems)
        .then(addEditableItems)
        .catch(console.log)
        .then(function() {
          // connect change event handlers for dropdowns
          $("#node-input-database").on("change.nx", databaseOnChange);
          $("#node-input-table").on("change.nx", tableOnChange);
          $("#node-input-config").on("change.nx", configOnChange);
        }).catch(console.log);
    }
  });

  RED.nodes.registerType('ninox-config', {
    category: "config",
    defaults: {
      name: {
        value: ""
      },
      host: {
        value: nxlib.NX_PUBLIC_CLOUD_API_HOSTNAME,
        required: false
      },
      port: {
        value: nxlib.NX_PUBLIC_CLOUD_API_PORT,
        required: false
      },
      apiversion: {
        value: "v1",
        required: false
      },
      apikey: { 
        value: "", 
        required: false,
      },
      publicprivate: {
        value: true,
        required: false
      },
      team: {
        value: "none",
      },
      teamname: {
        value: ""
      },
      teamselect: {
        value: "none"
      }
    },
    inputs:0,
    outputs:0,
    label: function() {
      let v = this.apiversion;
      let u = this.host + (this.port != "443" ? this.port : "") + "/" + v;
      let t = this.teamname || this.team || this.teamselect;
      return this.name || u + " > " + t;
    },
    oneditsave: function() {
      console.log("config 2 changed", this);
      RED.events.emit("nxConfigChange", this);
      $("#node-config-input-publicprivate").off("change.nx");
      $("#node-config-input-teamselect").off("change.nx");
      $("#node-config-input-apikey").off("change.nx");
    },
    oneditcancel: function() {
      let node = this;
      console.log("oneditcancel", node.form_data_backup);
      node.team = node.form_data_backup.team;
      node.teamname = node.form_data_backup.teamname;
      $("#node-config-input-team").val(node.form_data_backup.team);
      $("#node-config-input-teamname").val(node.form_data_backup.teamname);
      node.form_data_backup = {};
      $("#node-config-input-publicprivate").off("change.nx");
      $("#node-config-input-teamselect").off("change.nx");
      $("#node-config-input-apikey").off("change.nx");
    },
    oneditdelete: function() {
      $("#node-config-input-publicprivate").off("change.nx");
      $("#node-config-input-teamselect").off("change.nx");
      $("#node-config-input-apikey").off("change.nx");
    },
    oneditprepare: function() {
      let node = this;
      node.form_data_backup = {
        team: node.team,
        teamname: node.teamname
      };
      console.log("oneditprepare", node.form_data_backup);
      let disabler = function() {
        let setDisabled = true;
        let t2 = [
          "team", setDisabled, 
          "teamname", setDisabled, 
          "teamselect", !setDisabled, 
          "host", setDisabled, 
          "port", setDisabled
        ];
        let publicprivate = $("#node-config-input-publicprivate").prop("checked");
        for (var i = 0; i < t2.length; i += 2) {
          let u = t2[i];
          let v = t2[i + 1];
          if (publicprivate) {   // is public cloud
            $("#node-config-input-" + u).prop("disabled", v);
          }
          else {  // is private cloud or on-premise
            $("#node-config-input-" + u).prop("disabled", !v);
          }
        }
      }

      let setTeamAndTeamname = function() {
        console.log("setTeamAndTeamname", node);
        let publicprivate = $("#node-config-input-publicprivate").prop("checked");
        if (publicprivate) {
          node.team = $("#node-config-input-teamselect").val();
          $("#node-config-input-team").val(node.team);
          node.teamname = $("#node-config-input-teamselect").find(":selected").text();
          $("#node-config-input-teamname").val(node.teamname);
          node.host = nxlib.NX_PUBLIC_CLOUD_API_HOSTNAME;
          node.port = nxlib.NX_PUBLIC_CLOUD_API_PORT;
          $("#node-config-input-host").val(nxlib.NX_PUBLIC_CLOUD_API_HOSTNAME);
          $("#node-config-input-port").val(nxlib.NX_PUBLIC_CLOUD_API_PORT);
        }
      };

      disabler();

      $("#node-config-input-publicprivate").on("change.nx", disabler);
      $("#node-config-input-publicprivate").on("change.nx", function() {
        let publicprivate = $("#node-config-input-publicprivate").prop("checked");
        if (publicprivate) {
          handleInit($("#node-config-input-teamselect")).catch(console.log);
        }
      });
      
      $("#node-config-input-teamselect").on("change.nx", setTeamAndTeamname);

      let handleInit = function(el) {
        
        return new Promise(function(resolve, reject){
          console.log("handleInit cfgnode", node);
          if (node && node.apikey) {
            node.publicprivate = $("#node-config-input-publicprivate").prop("checked");
            let url = nxlib.getUrl(node, true);
            let headers = nxlib.getHeaders(node);
            let wasDisabled = ($("#node-config-input-teamselect").prop("disabled"));
            if (!wasDisabled) {
              $("#node-config-input-teamselect").prop("disabled", true);
            }
            $.ajax({
              url: url,
              headers: headers
            }).done(function(teams) {
              let opts = [fmtOpt('none', 'None', node.teamselect === 'none')];
              teams.sort(sortByName);
              teams.forEach(function(tm) {
                opts.push(fmtOpt(tm.id, tm.name, tm.id === node.teamselect));
              });
              el.html(opts.join(""));
              resolve();
            }).fail(function(err) {
              reject("ninox error in handleInit url=" + url + ": " + JSON.stringify(err));
            }).always(function() {
              if (!wasDisabled) {
                $("#node-config-input-teamselect").prop("disabled", false);
              }
            });
          }
          else {
            reject("ninox handleInit: no configuration found");
          }
        });
      }

      // only when public cloud is selected:
      // populate "teams" dropdown
      let publicprivate = $("#node-config-input-publicprivate").prop("checked");
      if (publicprivate) {
        $("#node-config-input-apikey").on("change.nx", function() {
          let apikey = $("#node-config-input-apikey").val().trim();
          node.apikey = apikey;
          console.log(apikey);
          handleInit($("#node-config-input-teamselect"))
          .then(setTeamAndTeamname)
          .catch(console.log);
        });
        handleInit($("#node-config-input-teamselect"))
          .then(setTeamAndTeamname)
          .catch(console.log);
      }
    }
  });
})();
</script>

<!-- Ninox API configuration node -->
<script type="text/x-red" data-template-name="ninox-config">
  <div class="form-row">
    <label for="node-config-input-publicprivate"><i class="fa fa-question"></i> <span data-i18n="ninox.config-cloud-label"></span></label>
    <input id="node-config-input-publicprivate" type="checkbox">
  </div>
  <div class="form-row">
      <label for="node-config-input-host"><i class="fa fa-server"></i> <span data-i18n="ninox.config-host-label"></span></label>
      <input id="node-config-input-host" type="text" placeholder="api.ninoxdb.de">
  </div>
  <div class="form-row">
    <label for="node-config-input-port"><i class="fa fa-plug"></i> <span data-i18n="ninox.config-port-label"></span></label>
    <input id="node-config-input-port" type="text" placeholder="443">
  </div>
  <div class="form-row">
    <label for="node-config-input-apiversion"><i class="fa fa-version"></i> <span data-i18n="ninox.config-apiversion-label"></span></label>
    <input id="node-config-input-apiversion" type="text" placeholder="v1">
  </div>
  <div class="form-row">
    <b>IMPORTANT:</b>The API key is not encrypted in any way, so do not post your flow anywhere!<br> 
    <label for="node-config-input-apikey"><i class="fa fa-key"></i> <span data-i18n="ninox.config-apikey-label"></span></label>
    <input id="node-config-input-apikey" type="text" placeholder="4711-c0ffee-defabc-9432 IMPORTANT Do not share your flow!">
  </div>
  <div class="form-row">
    <label for="node-config-input-team"><i class="fa fa-users"></i> <span data-i18n="ninox.config-team-label"></span></label>
    <input id="node-config-input-team" type="text" placeholder="nnjtgunvwpiunvutui">
  </div>
  <div class="form-row">
    <label for="node-config-input-teamname"><i class="fa fa-users"></i> <span data-i18n="ninox.config-teamname-label"></span></label>
    <input id="node-config-input-teamname" type="text" placeholder="The PowR Geeks">
  </div>
  <div class="form-row">
    <label for="node-config-input-teamselect"><i class="fa fa-users"></i> <span data-i18n="ninox.config-teamselect-label"></span></label>
    <select id="node-config-input-teamselect">
        <option value="none" data-i18n="ninox.option-none"></option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-config-input-name"><i class="fa fa-code-branch"></i> <span data-i18n="ninox.name-label"></span></label>
    <input id="node-config-input-name" type="text">
  </div>
</script>

<script type="text/x-red" data-help-name="ninox-config">
   <p><b>IMPORTANT:</b>The API key is not encrypted in any way, so do not post your flow anywhere unless the api key has been manually removed from it!<br> <br> This configuration node generates the host and team name part of the url to the Ninox API endpoint.</p>
</script>
